{% if multiple %}
  {% for item in items %}
    <h3 class="section-title mb-4"> {{ item.content }}  </h3>
  {% endfor %}
{% else %}
  {% for item in items %}
    <h3 class="section-title mb-4"> {{ item.content }}  </h3>
  {% endfor %}
{% endif %}
