{% include '@ncss/layout/header.html.twig' %}

<main>


  <!-- breadcrumb-area -->
  <section class="breadcrumb-area d-flex align-items-center" style="background-image:url({{ base_path ~ directory }}/assets/img/bg/bdrc-bg.jpg);">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12">
          <div class="breadcrumb-wrap text-center">
            <div class="breadcrumb-title">
              <h2>{{ "Contact Us"|t }}</h2>
              <div class="breadcrumb-wrap">

                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">{{ "Home"|t }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ "Contact"|t }}</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- breadcrumb-area-end -->

</main>

{% include '@ncss/layout/footer.html.twig' %}
