



<div class="auth-layout container-fluid d-flex two-column">
  <a class="back-btn" href="/">
  </a>

  <div class="container-fluid ">
    <div class="tab-content" id="nav-tabContent">
      <div class="card border-0">
        <div class="card-body  mw-100" style="width: 900px;">
          <div class="text-center">
            <h1 class="title">يتطلب ان تكون  قد قمت بتسجيل الدخول مسبقا
            </h1>

            <p class="description mw-100 mx-auto" style="width: 450px;">سجّل الدخول للوصول إلى خدمات  وبرامج المركز.</p>
          </div>
          <div id="block-ncss-content" class="block block-system block-system-main-block">


            <div class="content text-center">

              <a href="/" class="btn btn-primary">{{ "سجل دخول" }}</a>

            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>



