



<div class="auth-layout container-fluid d-flex two-column">
  <a class="back-btn" href="/">
   </a>

  <div class="container-fluid ">
    <div class="tab-content" id="nav-tabContent">
      <div class="card border-0">
        <div class="card-body  mw-100" style="width: 900px;">
          <div class="text-center">
            <h1 class="title">يتطلب ان تكون  قد فمت بتسجيل الدخول مسبقا
            </h1>

            <p class="description mw-100 mx-auto" style="width: 450px;">سجّل الدخول للوصول إلى خدمات  وبرامج المركز.</p>
          </div>
          <div id="block-ncss-content" class="block block-system block-system-main-block">


            <div class="content">


            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
 </div>


<div class="container">
  <h1 class="page-heading">
    صفحة تسجيل الدخول
  </h1>

  <div class="container-fluid mt-5 ">
    <div class="tab-content" id="nav-tabContent">
      <div class="card border-0">
        <div class="card-body  mw-100" style="width: 900px;">
          <div class="text-center">
            <h1 class="title">يتطلب ان تكون مسجل دخول مسبقا      </h1>

            <p class="description mw-100 mx-auto" style="width: 450px;">سجّل الدخول للوصول إلى خدمات المركز، ومتابعة الدراسات، والمشاركة بسهولة في الفعاليات والمبادرات البحثية.</p>
          </div>
          <div id="block-ncss-content" class="block block-system block-system-main-block">


            <div class="content">
              <div data-drupal-selector="edit-actions" class="form-actions col-md-12 js-form-wrapper form-wrapper" id="edit-actions">
                <button type="submit" class="btn btn-primary">تسجيل الدخول</button>
              </div>

            </div>
          </div>



        </div>
      </div>
    </div>
  </div>


</div>

